@using Mep01Web.DTO.Request;
@using MepWeb.Service;
@model CrrgCreateRequest
@inject UserScope _userScope;
@inject IHttpContextAccessor _contextAccessor

<div class="main-mep-container scrolling-container crrgCreateContainer">
	<div class="container">
		<form method="post"  name="CrrgCreateForm">
			<div class="p-3">

				<div class="row">
					<div class="col-8">
						<h2 class="text-primary d-inline-block">
							Inserimento consuntivo @(Model.CrrgCSrl > 0 && !Model.IsUpdate ? " - duplicato da: " + Decimal.ToInt32(Model.CrrgCSrl) : "") @(Model.CrrgCSrl > 0 && Model.IsUpdate ? " - Modifica: " + Decimal.ToInt32(Model.CrrgCSrl) : "")
						</h2>
					</div>
					<div class="col-4 text-center">
						@if (Model.Succeeded == "S")
						{
							<p id="result-p" class="mb-2">@(Model.IsUpdate ? "Aggiornamento Effettuato" : "Inserimento Effettuato")</p>
						}
					</div>
					<div class="col-4">
					</div>
					<hr />
				</div>
				@*<div asp-validation-summary="All"></div>*@ @*Riporta qui gli stessi errori che mostra sotto i componenti che hanno asp-validation-for*@
				@* <p>Utente : @_userScope.SV_USR_SIGLA</p>  *@


				@* Modalità *@
				<input asp-for="CrrgCSrl" hidden />
				<input asp-for="MemoModalita" id="MemoModalita" type="hidden" />
				<div>
					<input tabindex="1" type="radio" class="btn-check" id="modIsl" name="modalita" value="modIsl" checked="@(Model.MemoModalita == "modIsl" ? "true" : "false")">
					<label for="modIsl" class="btn btn-medio btn-outline-primary">x ISL</label>
					<input type="radio" class="btn-check" id="modCom" name="modalita" value="modCom" checked="@(Model.MemoModalita == "modCom" ? "true" : "false")">
					<label for="modCom" class="btn btn-medio btn-outline-primary">x Commessa</label>					<input type="radio" class="btn-check" id="modCli" name="modalita" value="modCli" checked="@(Model.MemoModalita == "modCli" ? "true" : "false")">
					@if (string.IsNullOrEmpty(Model.MemoModalita))
					{
						<label for="modCli" class="btn btn-medio btn-outline-primary">x Cliente</label>
						<input type="radio" class="btn-check" id="modGestInt" name="modalita" value="modGestInt" checked="true">

					} else
					{
						<label for="modCli" class="btn btn-medio btn-outline-primary">x Cliente</label>
						<input type="radio" class="btn-check" id="modGestInt" name="modalita" value="modGestInt" checked="@(Model.MemoModalita == "modGestInt" ? "true" : "false")">
					}
					<label for="modGestInt" class="btn btn-medio btn-outline-primary">Gest Int</label>
					<input type="radio" class="btn-check" id="modSvilInt" name="modalita" value="modSvilInt" checked="@(Model.MemoModalita == "modSvilInt" ? "true" : "false")">
					<label for="modSvilInt" class="btn btn-medio btn-outline-primary">Svil Int</label>
				</div>
				
				<div class="d-flex mt-1">
					<div class="form-group">
						<label asp-for="CrrgCRis">Risorsa</label>
						<input id="input-risorsa" asp-for="CrrgCRis" class="form-control text-center" style="width:50px" />
						<span asp-validation-for="CrrgCRis" class="text-danger"></span>
					</div>
					<div class="ms-2 form-group">
						<label asp-for="CrrgDtt">Data</label>
						<input asp-for="CrrgDtt" class="form-control" style="width:150px" type="date" />
						<span asp-validation-for="CrrgDtt" class="text-danger"></span>
					</div>
					<div class="ms-2 form-group">
						<label asp-for="CrrgTmRunIncrHMS">Tempo</label>
						<input asp-for="CrrgTmRunIncrHMS" class="form-control" style="width:150px" type="time" step="1" />
						<span asp-validation-for="CrrgTmRunIncrHMS" class="text-danger"></span>
					</div>
				</div>


				@* ISL *@
				<div id="divCrrgRifCliente" class="mt-1">
					<div class="form-group d-flex" id="crrg-rif-cliente">
						<div>
							<label asp-for="CrrgRifCliente">Codice ISL</label>
							<div class="form-wrapper d-flex align-items-center">
								<input asp-for="CrrgRifCliente" class="form-control" style="width:150px" id="CrrgRifCliente" onchange="ISLChanged()" />
								<button type="button" onclick="setupSearchIsl()" class="btn btn-outline-primary ms-1"><i class="bi bi-search"></i></button>
							</div>
						</div>
						<div class="ms-2 w-100">
							<label for="DescrIsl">Descrizione ISL</label>
							<input class="form-control" id="DescrIsl" disabled />
						</div>
						<span asp-validation-for="CrrgRifCliente" class="text-danger"></span>
					</div>
					<div class="form-group mt-1">
						<label>Commessa</label>
						<input class="form-control" id="ISLCommDesc" style="width:100%" disabled="disabled" />
					</div>
				</div>

				@* Cliente *@
				<div id="divComCli" class="d-flex mt-1">
					<div class="form-group">
						<label asp-for="ComCCli">Cliente</label>
						<div class="dropdown-content form-group customDropdown">
							@* <label for="ComDropdown">Commessa</label> *@
							<input asp-for="ComCCli" autocomplete="off" value="" type="text" class="form-control customDropdown-group" placeholder="Cliente.." id="CliDropdownInput">
							<span asp-validation-for="ComCCli" class="text-danger"></span>
							<div class="border-style">
								<div id="dropdown-clienti" class="d-none customDropdown-group dropdown-scrollbar customDropdown-container">
									@for(int i = 0; i < Model.AcliList.Clienti.Count; i++)
									{
										if (i == 0)
										{
											<p class="m-0 customDropdown-group dropdown-opt opt-hover" valore="@Model.AcliList.Clienti[i].Value" descrizione="@Model.AcliList.Clienti[i].Text" onmousedown="cliOpt('@Model.AcliList.Clienti[i].Value', '@Model.AcliList.Clienti[i].Text')">@Model.AcliList.Clienti[i].Text</p>
										}
										else
										{
											<p class="m-0 customDropdown-group dropdown-opt" valore="@Model.AcliList.Clienti[i].Value" descrizione="@Model.AcliList.Clienti[i].Text" onmousedown="cliOpt('@Model.AcliList.Clienti[i].Value', '@Model.AcliList.Clienti[i].Text')">@Model.AcliList.Clienti[i].Text</p>
										}
									}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ms-3 w-100">
						<label for="description-clienti">Ragione Sociale</label>
						<input id="description-clienti" disabled autocomplete="off" type="text" class="form-control">
					</div>

				</div>

				@* Commessa *@
				<div id="divComm" class="d-flex mt-1">
					<div class="form-group">
						<label asp-for="CommCode">Commessa</label>
						@* <input  class="form-control" id="CommCode" style="width:200px" onchange="CommChanged()" /> *@
						<div>
						
							<div class="dropdown-content form-group customDropdown">
								@* <label for="ComDropdown">Commessa</label> *@
								<input autocomplete="off" asp-for="CommCode" value="@Model.CommCode" type="text" class="form-control customDropdown-group" placeholder="Commessa.." id="ComDropdownInput">
								<span asp-validation-for="CommCode" class="text-danger"></span>
								<div class="border-style">
									<div id="dropdown-commesse" class="d-none customDropdown-group dropdown-scrollbar customDropdown-container">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ms-3 w-100">
						<label>Descrizione</label>
						<input class="form-control" id="description-commesse" disabled="disabled" />
					</div>

					@*<div style="margin-top:5px;">
					<div style="float:left;">
					<input id="sf_amount" name="sf_amount" />
					</div>
					<div>
					<input id="tm" name="tm" />
					</div>
					</div>*@

				</div>

				@* Operazione *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="NTOper">Operazione</label>
					<select asp-for="NTOper" asp-items="@Model.NTOperList.Operazioni" class="form-select" id="NTOper"></select>
					<span asp-validation-for="NTOper" class="text-danger"></span>
				</div>

				<p class="d-none" id="operazione">@Model.NTOper</p>
				<p class="d-none" id="operazione1">@Model.CrrgNOper-@Model.CrrgTOper</p>

				@* Macroattività - n.d., Garanzia, Assistenza, Verbale *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgCmaatt">Macroattività</label>
					<select asp-for="CrrgCmaatt" asp-items="@Model.CrrgCmaattList.Lista" class="form-select" style="width:120px"></select>
					<span asp-validation-for="CrrgCmaatt" class="text-danger"></span>
				</div>

				@* Causale *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgCCaus">Causale</label>
					<select asp-for="CrrgCCaus" asp-items="@Model.CrrgCCausList.Lista" class="form-select" style="width:100px"></select>
					<span asp-validation-for="CrrgCCaus" class="text-danger"></span>
				</div>

				@* Applicativo *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgApp">Applicativo</label>
					<select asp-for="CrrgApp" asp-items="@Model.AppList.Applicativi" class="form-select" id="CrrgApp" style="width:200px"></select>
				</div>

				@* Modulo *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgMod">Modulo</label>
					<select asp-for="CrrgMod" asp-items="@Model.ModList.Moduli" class="form-select" id="CrrgMod" style="width:200px"></select>
				</div>

				@* Note *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgNote">Note</label>
					<textarea asp-for="CrrgNote" id="CrrgNote" class="form-control" style="width:100%"></textarea>
					<span asp-validation-for="CrrgNote" class="text-danger"></span>
				</div>
				<br />


				<button type="submit" class="btn btn-primary" style="width:150px">Save</button>
				<a asp-controller="Crrg" asp-action="Index" class="btn btn-secondary" style="width:150px">
					Back to List
				</a>
				<input asp-for="IsUpdate" id="IsUpdate" hidden value="@Model.IsUpdate" />

			</div>
		</form>
	</div>
</div>

@*-------------- modale search isl --------------------*@
<div class="modal fade" id="searchIslModal" tabindex="-1" aria-labelledby="searchIslModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="searchIslModalLabel">Ricerca ISL</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
			<div class="modal-body" id="search-isl-body">
				<div id="isl-filters">
					<div>
						<input type="text" placeholder="ISL-0000-0000" id="isl-search-input" class="form-control text-dark">
						<button type="button" id="submit-research" class="btn btn-primary ms-2">Ricerca</button>
					</div>
					<div class="mt-2">
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-close">CLOSE</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-close" id="isl-checkbox-close">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-sosp">SOSP</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-sosp" id="isl-checkbox-sosp">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-svil">SVIL</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-svil" id="isl-checkbox-svil" checked="true">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-deli">DELI</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-deli" id="isl-checkbox-deli">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-anfu">ANFU</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-anfu" id="isl-checkbox-anfu" checked="true">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-new">NEW</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-new" id="isl-checkbox-new">
						</div>
					</div>
				</div>
				<div id="search-table-container">
					<table class="table table-striped" id="search-isl-table">
						<thead>
							<tr>
								<th scope="col"><div>ISL</div></th>
								<th scope="col"><div>Stato</div></th>
								<th scope="col"><div>Ragione Sociale</div></th>
								<th scope="col"><div>Descrizione</div></th>
							</tr>
						</thead>
						<tbody id="isl-tbody">                
								
							<tr class="search-isl-riga">
								<td id="rifCli">ISL-0108-0341</td>
								<td id="stato">1010 - Anal.Funz</td>
								<td id="acliRagSoc1">Sata Consulting S.r.l.</td>
								<td id="tatvDesc"><p>Censita casistica per valutare se e come intervenire:le start/end manodopera vengono consentite su una fase ciclo con CdL tipo macchina solo se è stata effettuata una start su una risorsa macchina. La registrazione manodopera è agganciata a quella della risorsa macchina (principale) impostando c_addetto (manodopera) = c_ris (macchina). c_addetto non risulta tuttavia corretto se la fase ciclo ha si un CdL di tipo macchina ma ha come ris.dominate (sulla fase ciclo) la manodopera. (L'esistenza di un tipo risorsa dominante sulla fase ciclo non allineato a quello del CdL/operazione ha genera criticità; visto anche quanto sopra, si potrebbe valutare una soluzione per gestire correttamente l'allineamento dei dati sulle fasi-ciclo)</p></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<div id="n-tot-isl"></div>
				<div>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
					<button type="submit" id="submit-isl-button" class="btn btn-primary" data-bs-dismiss="modal">Seleziona</button>
				</div>
			</div>
        </div>
    </div>
</div>

@section scripts{

	<script src="~/js/Crrg.js"></script>
	<script src="~/js/isl.js"></script>

}



