@using Mep01Web.DTO.Request;
@using MepWeb.Service;
@model CrrgCreateRequest
@inject UserScope _userScope;
@inject IHttpContextAccessor _contextAccessor

<div class="main-mep-container scrolling-container">
	<div class="container">
		<form method="post" name="CrrgCreateForm">
			<div class="p-3 mt-4">

				<div class="row pb-2">
					<h2 class="text-primary">
						Inserimento consuntivo
					</h2>
					<hr />
				</div>
				@*<div asp-validation-summary="All"></div>*@ @*Riporta qui gli stessi errori che mostra sotto i componenti che hanno asp-validation-for*@
				<p>Utente : @_userScope.SV_USR_SIGLA</p>

				<div class="mb-3">
					<table>
						<tr>
							<td>
								<label asp-for="CrrgCRis">Risorsa</label>
								<input asp-for="CrrgCRis" class="form-control" style="width:50px" />
								<span asp-validation-for="CrrgCRis" class="text-danger"></span>
							</td>
							<td>
								<label asp-for="CrrgDtt">Data</label>
								<input asp-for="CrrgDtt" class="form-control" style="width:150px" type="date" />
								<span asp-validation-for="CrrgDtt" class="text-danger"></span>
							</td>
							<td>
								<label asp-for="CrrgTmRunIncrHMS">Tempo</label>
								<input asp-for="CrrgTmRunIncrHMS" class="form-control" style="width:150px" type="time" value="01:00:00" step="1" />
								<span asp-validation-for="CrrgTmRunIncrHMS" class="text-danger"></span>
							</td>
						</tr>
					</table>
				</div>

				@* Modalità *@
				<input asp-for="MemoModalita" id="MemoModalita" type="hidden" />
				<div>
					<input type="radio" class="btn-check" id="modIsl" name="modalita" value="modIsl" onchange="Modalita()">
					<label for="modIsl" class="btn btn-medio btn-outline-primary">x ISL</label>
					<input type="radio" class="btn-check" id="modCli" name="modalita" value="modCli" onchange="Modalita()" checked="checked">
					<label for="modCli" class="btn btn-medio btn-outline-primary">x Cliente</label>
					<input type="radio" class="btn-check" id="modCom" name="modalita" value="modCom" onchange="Modalita()">
					<label for="modCom" class="btn btn-medio btn-outline-primary">x Commessa</label>
				</div>

				@* ISL *@
				<div id="divCrrgRifCliente">
					<div class="form-group" id="crrg-rif-cliente" style="margin-top:5px;">
						<label asp-for="CrrgRifCliente">Codice ISL</label>
						<input asp-for="CrrgRifCliente" class="form-control" style="width:150px" id="CrrgRifCliente" onchange="ISLChanged()" />
						<button type="button" onclick="setupSearchIsl('CrrgRifCliente')" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
						<span asp-validation-for="CrrgRifCliente" class="text-danger"></span>
					</div>
					<div class="form-group" style="margin-top:5px;">
						<label>Commessa</label>
						<input class="form-control" id="ISLCommDesc" style="width:100%" disabled="disabled" />
					</div>
				</div>

				@* Cliente *@
				<div id="divComCli">
					<div class="form-group" style="margin-top:5px;">
						<label asp-for="ComCCli">Cliente</label>
						<select asp-for="ComCCli" asp-items="@Model.AcliList.Clienti" class="form-select" id="ComCCli" style="width:350px" onfocusout="CliListChanged()"></select>
					</div>
					@*<div class="progress" id="divComCliBarra">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>*@
				</div>

				@* Commessa *@
				<div id="divCommCodeDesc">
					<div class="form-group" style="margin-top:5px;">
						<label asp-for="CommCodeDesc">Commessa</label>
						<select asp-for="CommCodeDesc" asp-items="@Model.TbcpList.TbcpListLight" class="form-select" id="CommCodeDesc" style="width:100%" onchange="CommListChanged()"></select>
					</div>
				</div>

				@* Commessa *@
				<div id="divComm">
					<div class="form-group" style="margin-top:5px;">
						<label asp-for="CommCode">Commessa</label>
						<input asp-for="CommCode" class="form-control" id="CommCode" style="width:200px" onchange="CommChanged()" />
						<span asp-validation-for="CommCode" class="text-danger"></span>
					</div>
					<div class="form-group" style="margin-top:5px;">
						<label>Descrizione</label>
						<input class="form-control" id="CommDesc" disabled="disabled" />
					</div>

					@*<div style="margin-top:5px;">
					<div style="float:left;">
					<input id="sf_amount" name="sf_amount" />
					</div>
					<div>
					<input id="tm" name="tm" />
					</div>
					</div>*@

				</div>

				@* Operazione *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="NTOper">Operazione</label>
					<select asp-for="NTOper" asp-items="@Model.NTOperList.Operazioni" class="form-select" id="NTOper" style="width:200px"></select>
					<span asp-validation-for="NTOper" class="text-danger"></span>
				</div>

				@* Macroattività - n.d., Garanzia, Assistenza, Verbale *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgCmaatt">Macroattività</label>
					<select asp-for="CrrgCmaatt" asp-items="@Model.CrrgCmaattList.Lista" class="form-select" style="width:120px"></select>
				</div>

				@* Causale *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgCCaus">Causale</label>
					<select asp-for="CrrgCCaus" asp-items="@Model.CrrgCCausList.Lista" class="form-select" style="width:100px"></select>
					<span asp-validation-for="CrrgCCaus" class="text-danger"></span>
				</div>

				@* Applicativo *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgApp">Applicativo</label>
					<select asp-for="CrrgApp" asp-items="@Model.AppList.Applicativi" class="form-select" id="CrrgApp" style="width:200px"></select>
				</div>

				@* Modulo *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgMod">Modulo</label>
					<select asp-for="CrrgMod" asp-items="@Model.ModList.Moduli" class="form-select" id="CrrgMod" style="width:200px"></select>
				</div>

				@* Note *@
				<div class="form-group" style="margin-top:5px;">
					<label asp-for="CrrgNote">Note</label>
					<textarea asp-for="CrrgNote" class="form-control" style="width:100%"></textarea>
				</div>
				<br />


				<button type="submit" class="btn btn-primary" style="width:150px">Save</button>
				<a asp-controller="Crrg" asp-action="Index" class="btn btn-secondary" style="width:150px">
					Back to List
				</a>


			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="searchIslModal" tabindex="-1" aria-labelledby="searchIslModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="searchIslModalLabel">Ricerca ISL</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
			<div class="modal-body" id="search-isl-body">
				<div id="isl-filters">
					<div>
						<input type="text" placeholder="ISL-0000-0000" id="isl-search-input" class="form-control">
						<button type="submit" id="submit-research" class="btn btn-primary ms-2">Ricerca</button>
					</div>
					<div class="mt-2">
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-close">CLOSE</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-close" id="isl-checkbox-close">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-sosp">SOSP</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-sosp" id="isl-checkbox-sosp">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-svil">SVIL</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-svil" id="isl-checkbox-svil" checked="true">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-deli">DELI</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-deli" id="isl-checkbox-deli">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-anfu">ANFU</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-anfu" id="isl-checkbox-anfu" checked="true">
						</div>
						<div class="form-check p-0">
							<label class="form-check-label" for="isl-checkbox-new">NEW</label>
							<input class="form-check-input ms-2" type="checkbox" name="isl-checkbox-new" id="isl-checkbox-new">
						</div>
					</div>
				</div>
				<div id="search-table-container">
					<table class="table table-striped" id="search-isl-table">
						<thead>
							<tr>
								<th scope="col"><div>ISL</div></th>
								<th scope="col"><div>Stato</div></th>
								<th scope="col"><div>Ragione Sociale</div></th>
								<th scope="col"><div>Descrizione</div></th>
							</tr>
						</thead>
						<tbody id="isl-tbody">                
								
							<tr class="search-isl-riga">
								<td id="rifCli">ISL-0108-0341</td>
								<td id="stato">1010 - Anal.Funz</td>
								<td id="acliRagSoc1">Sata Consulting S.r.l.</td>
								<td id="tatvDesc"><p>Censita casistica per valutare se e come intervenire:le start/end manodopera vengono consentite su una fase ciclo con CdL tipo macchina solo se è stata effettuata una start su una risorsa macchina. La registrazione manodopera è agganciata a quella della risorsa macchina (principale) impostando c_addetto (manodopera) = c_ris (macchina). c_addetto non risulta tuttavia corretto se la fase ciclo ha si un CdL di tipo macchina ma ha come ris.dominate (sulla fase ciclo) la manodopera. (L'esistenza di un tipo risorsa dominante sulla fase ciclo non allineato a quello del CdL/operazione ha genera criticità; visto anche quanto sopra, si potrebbe valutare una soluzione per gestire correttamente l'allineamento dei dati sulle fasi-ciclo)</p></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
				<button type="submit" class="btn btn-primary">Seleziona</button>
			</div>
        </div>
    </div>
</div>

@section scripts{
	<script src="~/js/Crrg.js"></script>
	<script src="~/js/isl.js"></script>
}



