@model List<MepWeb.DTO.Response.ConsXCommResponse>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid" id="cons-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="n-riga"><p>#</p></th>
                <th scope="col">Tipo<br/>Commessa</th>
                <th scope="col">Prefisso<br/>Commessa</th>
                <th scope="col">Anno<br/>Commessa</th>
                <th scope="col">Numero<br/>Commessa</th>
                <th scope="col">Cliente</th>
                <th scope="col">Ragione<br/>Sociale</th>
                <th scope="col">Offerta/<br/>Ordine</th>
                <th scope="col">Area</th>
                <th scope="col">Progetto</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Project<br/>Manager</th>
                <th scope="col">Ore<br/>PGM</th>
                <th scope="col">Ore<br/>SOA</th>
                <th scope="col">Ore<br/>PJM</th>
                <th scope="col">Ore<br/>BUC</th>
                <th scope="col">Ore<br/>SYD</th>
                <th scope="col">Ore<br/>GEN</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="n-riga-value"><p><strong>@(i + 1)</strong></p></td>
                    <td>@Model[i].TBCP_TST_COMM</td>
                    <td>@Model[i].TBCP_PRF_COMM</td>
                    <td>@Model[i].TBCP_A_COMM</td>
                    <td>@Model[i].TBCP_N_COMM</td>
                    <td>@Model[i].TBCP_C_CLI</td>
                    <td>@Model[i].ACLI_RAG_SOC_1<br/>@Model[i].TBCP_OFF_PREV</td>
                    <td>@Model[i].TBCP_RIF_CLIENTE</td>
                    <td>@Model[i].DESCRIZIONE_RIDOTTA</td>
                    <td>@Model[i].TBCP_M1_PROJECT</td>
                    <td>@Model[i].TBCP_DESC</td>
                    <td>@Model[i].USR1_DESC</td>
                    <td>@Model[i].C_PGM</td>
                    <td>@Model[i].C_SOA</td>
                    <td>@Model[i].C_PJM</td>
                    <td>@Model[i].C_BUC</td>
                    <td>@Model[i].C_SYD</td>
                    <td>@Model[i].C_GEN</td>
                </tr>
            }
        </tbody>
    </table>
    <h1>Ciao</h1>
    <a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="OreQualifica">Ore x Qualifica</a>
    <a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="AddettoQualifica">Addetto / Qualifica</a>
    <a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="RegistroRicariche">Registro Ricariche</a>

</div>
