@using MepWeb.DTO.Response;
@model List<MepWeb.DTO.Response.ConsXCommResponse>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions {
    public string calcolaAllarme(string? tfatt, decimal? hhacq, decimal? hhacqcrrg)
    {
        if ((tfatt == "1" || tfatt == "2") && hhacq > 0)
        {
            if ((((hhacq - hhacqcrrg) / hhacq) * 100) < 10)
            {
                return "allarme-rosso";
            }
            else if ((((hhacq - hhacqcrrg) / hhacq) * 100) < 20)
            {
                return "allarme-arancione";
            }
            else
            {
                return "allarme-verde";
            }
        }
        else
        {
            return "";
        }
    }
}
@{
}

<div id="consuntivi-main-container" class="d-flex flex-column main-mep-container">

    <div id="filters" class="d-flex justify-content-between">
        <div id="filter-btn">
            <i class="bi bi-filter"></i>
        </div>
        <div id="filters-container">
            <h2>Filtra per</h2>
            <form id="search-form" method="get">
                <label for="numeroCommessa">Numero Commessa:</label>
                <input autocomplete="off" type="text" class="form-control" name="numeroCommessa" id="numeroCommessa">
                <label for="cliente">Cliente:</label>
                <input autocomplete="off" type="text" class="form-control" name="cliente" id="cliente">
                <button type="submit" class="btn btn-success mt-2" id="confirm-research">Cerca</button>
                <button type="button" class="btn btn-secondary mt-2" id="reset-research">Reset</button>
            </form>
        </div>
        <div id="menu-btns">
            <a href="#" type="button" onClick="goToDoc('OreQualifica')" class="btn btn-primary">Ore x Qualifica</a>
            <a type="button" onClick="goToDoc('AddettoQualifica')" class="btn btn-primary">Addetto / Qualifica</a>
        </div>
    </div>

    <div class="container-fluid p-0" id="cons-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="n-riga"><div><p>#</p></div></th>
                    <th scope="col"><div>Commessa</div></th>
                    <th scope="col"><div>Cliente</div></th>
                    <th scope="col"><div>Ragione<br />Sociale</div></th>
                    <th scope="col"><div>Offerta/<br />Ordine</div></th>
                    <th scope="col"><div>Area</div></th>
                    <th scope="col"><div>Progetto</div></th>
                    <th scope="col"><div>Descrizione</div></th>
                    <th scope="col"><div>Project<br />Manager</div></th>
                    @* <th scope="col"><div class="text-center w-100">Ore<br />GEN</div></th> *@
                    <th scope="col"><div class="text-center w-100">Ore<br />Eng</div></th>
                    @*                  <th scope="col"><div>Ore<br />SOA</div></th>
                    <th scope="col"><div>Ore<br />SYD</div></th> *@
                    <th scope="col"><div class="text-center w-100">Ore<br />Deli</div></th>
                    @*                     <th scope="col"><div>Ore<br/>PGM</div></th>
                    <th scope="col"><div>Ore<br/>PJM</div></th>
                    <th scope="col"><div>Ore<br/>BUC</div></th> *@
                    <th scope="col"><div class="text-center w-100">Ore<br />EngNV</div></th>
                    <th scope="col"><div class="text-center w-100">Ore<br />DeliNV</div></th>
                </tr>
            </thead>
            <tbody id="cons-tbody">
                @for (int i = 0; i < Model.Count; i++)
                {

                    <tr class="riga" id="row-@(i + 1)" idDoc="@Model[i].TbcpId">
                        <td class="n-riga-value">
                            <div>
                                <span id="note-@(i + 1)"><i class="bi bi-sticky-fill"></i></span>
                                <p><strong>@(i + 1)</strong></p>
                            </div>
                        </td>
                        <td campo="TBCP_COMM">@Model[i].TBCP_TST_COMM/@Model[i].TBCP_PRF_COMM/@Model[i].TBCP_A_COMM/@Model[i].TBCP_N_COMM</td>
                        <td campo="TBCP_C_CLI">@Model[i].TBCP_C_CLI</td>
                        <td campo="ACLI_RAG_SOC_1">@Model[i].ACLI_RAG_SOC_1<br />@Model[i].TBCP_OFF_PREV</td>
                        <td campo="TBCP_RIF_CLIENTE">@Model[i].TBCP_RIF_CLIENTE</td>
                        <td campo="DESCRIZIONE_RIDOTTA">@Model[i].DESCRIZIONE_RIDOTTA</td>
                        <td campo="TBCP_M1_PROJECT">@Model[i].TBCP_M1_PROJECT</td>
                        <td campo="TBCP_DESC">@Model[i].TBCP_DESC</td>
                        <td campo="USR1_DESC">@Model[i].USR1_DESC</td>

                        @*                         @{
                    var totOreRes = await _psc01aService.GetTotOreVerbaliByCommessaAsync(@Model[i].TBCP_N_COMM.ToString());
                    var totOreEng = totOreRes.Body.Where(x => x.Qualifica == "SOA" || x.Qualifica == "SYD").Sum(x => x.TotaleOre);
                    var totOreDeli = totOreRes.Body.Where(x => x.Qualifica == "PGM" || x.Qualifica == "PJM" || x.Qualifica == "BUC").Sum(x => x.TotaleOre);

                    } *@

                        @* Eng *@
                        <td>
                            <div>
                                <p class="text-end mb-0" campo="Eng">@(String.Format("{0:0.00}", Model[i].HHACQSOA + Model[i].HHACQSYD + Model[i].HHACQGEN))</p>
                                <p class="text-end mb-0" campo="HHCRRGSOA">@(String.Format("{0:0.00}", Model[i].HHCRRGSOA + Model[i].HHCRRGSYD + Model[i].HHCRRGGEN))</p>
                                <p class="text-end mb-0 @calcolaAllarme(Model[i].TFATTSOA, Model[i].HHACQSOA + Model[i].HHACQSYD, Model[i].HHCRRGSOA + Model[i].HHCRRGSYD)" campo="HHACQSOA">@(String.Format("{0:0.00}", ((Model[i].HHACQSOA + Model[i].HHACQSYD + Model[i].HHACQGEN) - (Model[i].HHCRRGSOA + Model[i].HHCRRGSYD + Model[i].HHCRRGGEN))))</p>  @* ore pagate - ore consuntivate *@
                                <p class="text-end mb-0" campo="HHACQSOA">@(String.Format("{0:0.00}", Model[i].HH001ASOA + Model[i].HH001ASYD))</p>
                            </div>
                        </td>

                        @* Deli *@
                        <td>
                            <div>
                                <p class="text-end mb-0" campo="Deli">@(String.Format("{0:0.00}", Model[i].HHACQPGM + Model[i].HHACQPJM + Model[i].HHACQBUC + Model[i].HHACQGDE))</p>
                                <p class="text-end mb-0" campo="HHCRRGPGM">@(String.Format("{0:0.00}", Model[i].HHCRRGPGM + Model[i].HHCRRGPJM + Model[i].HHCRRGBUC))</p>
                                <p class="text-end mb-0 @calcolaAllarme(Model[i].TFATTPGM, Model[i].HHACQPGM + Model[i].HHACQPJM + Model[i].HHACQBUC, Model[i].HHCRRGPGM + Model[i].HHCRRGPJM + Model[i].HHCRRGBUC)" campo="HHACQPGM">@(String.Format("{0:0.00}", ((Model[i].HHACQPGM + Model[i].HHACQPJM + Model[i].HHACQBUC) - (Model[i].HHCRRGPGM + Model[i].HHCRRGPJM + Model[i].HHCRRGBUC))))</p> @* ore pagate - ore consuntivate *@
                                <p class="text-end mb-0" campo="HHCRRGPGM">@(String.Format("{0:0.00}", Model[i].HH001APGM + Model[i].HH001APJM + Model[i].HH001ABUC))</p>
                            </div>
                        </td>

                        @* No verbale Eng *@
                        <td>
                            <div>
                                <p class="text-end mb-0 opacity-0" campo="EngNV">p</p>
                                <p class="text-end mb-0" campo="SOASYDNV">@(String.Format("{0:0.00}", Model[i].HHCRRGSOAEFFNV + Model[i].HHCRRGSYDEFFNV))</p>
                                <p class="text-end mb-0" campo=""></p>
                                <p class="text-end mb-0" campo=""></p>
                            </div>
                        </td>

                        @* No verbale Deli *@
                        <td>
                            <div>
                                <p class="text-end mb-0 opacity-0" campo="DeliNV">p</p>
                                <p class="text-end mb-0" campo="PGMPJMBUCNV">@(String.Format("{0:0.00}", Model[i].HHCRRGPGMEFFNV + Model[i].HHCRRGPJMEFFNV + Model[i].HHCRRGBUCEFFNV))</p>
                                <p class="text-end mb-0" campo=""></p>
                                <p class="text-end mb-0" campo=""></p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="err-modal" tabindex="-1" aria-labelledby="errModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
            </div>
            <div class="modal-body">
                <p>Selezionare un documento prima di continuare</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-discard" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/js/ConsXComm.js"></script>

}