@using MepWeb.DTO.Response;
@using Newtonsoft.Json;
@model List<MepWeb.DTO.Response.ConsXCommResponse>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions {
    public string calcolaAllarme(string? tfatt, decimal? hhacq, decimal? hhacqcrrg)
    {
        if ((tfatt == "1" || tfatt == "2") && hhacq > 0)
        {
            if ((((hhacq - hhacqcrrg) / hhacq) * 100) < 10)
            {
                return "allarme-rosso";
            }
            else if ((((hhacq - hhacqcrrg) / hhacq) * 100) < 20)
            {
                return "allarme-arancione";
            }
            else
            {
                return "allarme-verde";
            }
        }
        else
        {
            return "";
        }
    }

    public string fo(decimal? arg)
    {
        return String.Format("{0:0.00}", arg);
    }
}
@{
}

<div id="consuntivi-main-container" class="d-flex flex-column main-mep-container">

    <div id="filters" class="d-flex justify-content-between">
        <div id="filter-btn">
            <i class="bi bi-filter"></i>
        </div>
        <div id="filters-container">
            <h2>Filtra per</h2>
            <form id="search-form" method="get">
            </form>
        </div>
        <div id="menu-btns">
            <a href="#" type="button" onClick="goToDoc('OreQualifica')" class="btn btn-primary">Ore x Qualifica</a>
            <a type="button" onClick="goToDoc('AddettoQualifica')" class="btn btn-primary">Addetto / Qualifica</a>
        </div>
    </div>

    <div class="container-fluid p-0" id="cons-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="n-riga"><div><p>#</p></div></th>
                    <th scope="col" data-sc-search-name="TBCP_C_CLI" data-sc-search-pos="1"><div>Cliente</div></th>
                    <th scope="col" data-sc-search-name="ACLI_RAG_SOC_1" data-sc-search-pos="2"><div>Ragione<br />Sociale</div></th>
                    <th scope="col" data-sc-search-name="commessa" data-sc-search-pos="3"><div>Commessa</div></th>
                    <th scope="col" @* data-sc-search-name="TBCP_RIF_CLIENTE" data-sc-search-pos="4" *@><div>Offerta/<br />Ordine</div></th>
                    <th scope="col" data-sc-search-name="TBCP_M1_PROJECT" data-sc-search-pos="5"><div>Area/<br />Progetto</div></th>
                    <th scope="col" @* data-sc-search-name="ACLI_RAG_SOC_1" data-sc-search-pos="6" *@><div>Descrizione</div></th>
                    <th scope="col" @* data-sc-search-name="tbcpProjectManager" data-sc-search-pos="7" *@><div>Project<br />Manager</div></th>
                    <th scope="col"><div class="text-center w-100">Avanzamento</div></th>
                    <th scope="col"><div class="text-center w-100">Preoccupazione</div></th>

                    @* ore *@
                    <th scope="col"><div class="text-center w-100">Ore<br />Eng</div></th>
                    <th scope="col"><div class="text-center w-100">Ore<br />Deli</div></th>
                    <th scope="col"><div class="text-center w-100">Ore<br />EngNV</div></th>
                    <th scope="col"><div class="text-center w-100">Ore<br />DeliNV</div></th>
                </tr>
            </thead>
            <tbody id="cons-tbody">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var comm = $"{Model[i].TBCP_TST_COMM}/{Model[i].TBCP_PRF_COMM}/{Model[i].TBCP_A_COMM}/{Model[i].TBCP_N_COMM}";

                    <tr class="riga" id="row-@(i + 1)" idDoc="@Model[i].TbcpId" rowComm="@comm">
                        <td class="n-riga-value">
                            <div>
                                <span id="note-@(i + 1)" class="note-btn">
                                    <i data-bs-toggle="modal" data-bs-target="#nota-modal" onclick="populateNotaForm({comm:'@comm'})" title="dettagli commessa" class="bi bi-info-circle-fill"></i>
                                </span>
                                <p><strong>@(i + 1)</strong></p>
                            </div>
                        </td>
                        <td campo="TBCP_C_CLI">@Model[i].TBCP_C_CLI</td>
                        <td campo="ACLI_RAG_SOC_1">@Model[i].ACLI_RAG_SOC_1<br />@Model[i].TBCP_OFF_PREV</td>
                        <td campo="TBCP_COMM">@comm</td>
                        <td campo="TBCP_RIF_CLIENTE">@Model[i].TBCP_RIF_CLIENTE</td>
                        <td campo="DESCRIZIONE_RIDOTTA/TBCP_M1_PROJECT">@Model[i].DESCRIZIONE_RIDOTTA<br />@Model[i].TBCP_M1_PROJECT</td>
                        <td campo="TBCP_DESC">@Model[i].TBCP_DESC</td>
                        <td campo="USR1_DESC">@Model[i].USR1_DESC</td>

                        @* Avanzamento *@
                        <td campo="Avanzamento" class="text-center">@String.Format("{0:0}", Model[i].Avanzamento)%</td>

                        @* Preoccupazione *@
                        @{
                            var classe = "";
                            if (@Model[i].Preoccupazione == "Y")
                            {
                                classe = "bg-giallo";
                            }
                            else if (@Model[i].Preoccupazione == "R")
                            {
                                classe = "bg-rosso";
                            }
                            else
                            {
                                classe = "bg-verde";
                            }
                        }
                        <td campo="Preoccupazione" class="position-relative"><div class="preoccupazione centrato @classe"></div></td>

                        @* Eng *@
                        <td>
                            <div>
                                <p class="text-end mb-0" campo="Eng">@(fo(Model[i].HHACQSOA + Model[i].HHACQSYD + Model[i].HHACQGEN))</p>
                                <p class="text-end mb-0" campo="HHCRRGSOA">@(fo(Model[i].HHCRRGSOAEFF + Model[i].HHCRRGSYDEFF + Model[i].HHCRRGGENEFF))</p>
                                <p class="text-end mb-0">@(fo(((Model[i].HHACQSOA + Model[i].HHACQSYD + Model[i].HHACQGEN) - (Model[i].HHCRRGSOAEFF + Model[i].HHCRRGSYDEFF + Model[i].HHCRRGGENEFF))))</p>  @* ore pagate - ore consuntivate *@
                                <p class="text-end mb-0" campo="HHACQSOA">@(fo(Model[i].HH001ASOA + Model[i].HH001ASYD))</p>
                            </div>
                        </td>

                        @* Deli *@
                        <td>
                            <div>
                                <p class="text-end mb-0" campo="Deli">@(fo(Model[i].HHACQPGM + Model[i].HHACQPJM + Model[i].HHACQBUC + Model[i].HHACQGDE))</p>
                                <p class="text-end mb-0" campo="HHCRRGPGM">@(fo(Model[i].HHCRRGPGMEFF + Model[i].HHCRRGPJMEFF + Model[i].HHCRRGBUCEFF))</p>
                                <p class="text-end mb-0" campo="HHACQPGM">@(fo(((Model[i].HHACQPGM + Model[i].HHACQPJM + Model[i].HHACQBUC + Model[i].HHACQGDE) - (Model[i].HHCRRGPGMEFF + Model[i].HHCRRGPJMEFF + Model[i].HHCRRGBUCEFF + Model[i].HHCRRGGDEEFF))))</p> @* ore pagate - ore consuntivate *@
                                <p class="text-end mb-0" campo="HHCRRGPGM">@(fo(Model[i].HH001APGM + Model[i].HH001APJM + Model[i].HH001ABUC))</p>
                            </div>
                        </td>

                        @* No verbale Eng *@
                        <td>
                            <div>
                                <p class="text-end mb-0 opacity-0" campo="EngNV">p</p>
                                <p class="text-end mb-0" campo="SOASYDNV">@(fo(Model[i].HHCRRGSOAEFFNV + Model[i].HHCRRGSYDEFFNV + Model[i].HHCRRGGENEFFNV))</p>
                                <p class="text-end mb-0" campo=""></p>
                                <p class="text-end mb-0" campo=""></p>
                            </div>
                        </td>

                        @* No verbale Deli *@
                        <td>
                            <div>
                                <p class="text-end mb-0 opacity-0" campo="DeliNV">p</p>
                                <p class="text-end mb-0" campo="PGMPJMBUCNV">@(fo(Model[i].HHCRRGPGMEFFNV + Model[i].HHCRRGPJMEFFNV + Model[i].HHCRRGBUCEFFNV + Model[i].HHCRRGGDEEFFNV))</p>
                                <p class="text-end mb-0" campo=""></p>
                                <p class="text-end mb-0" campo=""></p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<!-- Modal errore documento non selezionato -->
<div class="modal fade" id="err-modal" tabindex="-1" aria-labelledby="errModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
            </div>
            <div class="modal-body">
                <p>Selezionare un documento prima di continuare</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-discard" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal note -->
<div class="modal fade" id="nota-modal" tabindex="-1" aria-labelledby="notaModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3>Dettaglio riga</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="aggiungi-nota">
                <div class="modal-body mt-0">
                    <div class="row">
                        <div class="col-lg-5">
                            <p id="cliente-commessa" class="fs-5 mb-2"></p>
                            <p class="fs-5 mb-0">Descrizione:</p>
                            <p id="descrizione-commessa" class="mb-2"></p>
                            <select class="form-select mb-2" name="commessa_attuale" id="commessa-attuale"></select>

                            <div class="mb-2 mt-1 position-relative">
                                <label for="nota">Nota:</label>
                                <i id="clear-text-btn" title="svuota nota" class="bi bi-x-circle-fill pointer-pointer"></i>
                                <textarea id="nota" name="nota" type="text" rows="3" class="form-control"
                                          aria-describedby="description"></textarea>
                            </div>
                            <div class="text-danger" id="nota-error"></div>

                            <div id="modal-preoccupazione" class="d-flex align-items-center mb-2">
                                <p class="m-0">Preoccupazione:</p>
                                <div>
                                    <span class="preoccupazione"></span>
                                    <span><i class="bi bi-caret-right-fill"></i></span>
                                    <span class="preoccupazione"></span>
                                    <span class="preoccupazione"></span>
                                </div>
                            </div>

                            <div id="modal-avanzamento" class="d-flex align-items-center">
                                <p class="m-0">Avanzamento %:</p>
                                @* <button class="ms-3 btn btn-success" type="button">-</button> *@
                                <input name="avanzamento" type="number" min="0" max="100" class="form-control" />
                                @* <button class="btn btn-success" type="button">+</button> *@
                            </div>

                        </div>
                        <div class="col-lg-7">
                            <p class="fs-5 mb-0">Dettaglio ore:</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Acquistate</th>
                                        <th scope="col">Consuntivate</th>
                                        <th scope="col">Differenza</th>
                                        <th scope="col">Verbalizzate</th>
                                        <th scope="col">Non Verb.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Gen</th>
                                        <td id="modal-gen-Acquistate"></td>
                                        <td id="modal-gen-Consuntivate"></td>
                                        <td id="modal-gen-Differenza"></td>
                                        <td id="modal-gen-HH001A"></td>
                                        <td id="modal-gen-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SOA</th>
                                        <td id="modal-soa-Acquistate"></td>
                                        <td id="modal-soa-Consuntivate"></td>
                                        <td id="modal-soa-Differenza"></td>
                                        <td id="modal-soa-HH001A"></td>
                                        <td id="modal-soa-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SYD</th>
                                        <td id="modal-syd-Acquistate"></td>
                                        <td id="modal-syd-Consuntivate"></td>
                                        <td id="modal-syd-Differenza"></td>
                                        <td id="modal-syd-HH001A"></td>
                                        <td id="modal-syd-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gde</th>
                                        <td id="modal-gde-Acquistate"></td>
                                        <td id="modal-gde-Consuntivate"></td>
                                        <td id="modal-gde-Differenza"></td>
                                        <td id="modal-gde-HH001A"></td>
                                        <td id="modal-gde-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PGM</th>
                                        <td id="modal-pgm-Acquistate"></td>
                                        <td id="modal-pgm-Consuntivate"></td>
                                        <td id="modal-pgm-Differenza"></td>
                                        <td id="modal-pgm-HH001A"></td>
                                        <td id="modal-pgm-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PJM</th>
                                        <td id="modal-pjm-Acquistate"></td>
                                        <td id="modal-pjm-Consuntivate"></td>
                                        <td id="modal-pjm-Differenza"></td>
                                        <td id="modal-pjm-HH001A"></td>
                                        <td id="modal-pjm-NV"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">BUC</th>
                                        <td id="modal-buc-Acquistate"></td>
                                        <td id="modal-buc-Consuntivate"></td>
                                        <td id="modal-buc-Differenza"></td>
                                        <td id="modal-buc-HH001A"></td>
                                        <td id="modal-buc-NV"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="hidden" id="jsonI" value="@JsonConvert.SerializeObject(Model, Formatting.None)" />

@section scripts {
    <script src="~/js/ConsXComm.js"></script>

}