@using Mep01Web.DTO.Request;
@model IslGetRequest;
@inject IHttpContextAccessor _contextAccessor;


@{
ViewData["Title"] = "Isl";
}

<div class="container-fluid main-mep-container scrolling-container">
    <div class="container">


        <h1>Gestione ISL in corso</h1>

        <div class="p-1 mb-2 btn-group" id="filter-btn" role="group">
            <a onclick="NascondiFiltro()"><i class="bi bi-filter"></i></a>
        </div>

        <div id="divGetFilterForm" @(Model.FilterHidden=="Y" ? "style=&#39;display:none;&#39;"
            : "style=&#39;display:block;&#39;" )>
            <form method="post" name="IslGetFilterForm">
                <div class="border p-3 my-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">
                            Filtri
                        </h2>
                        <hr />
                    </div>

                    <div class="mb-3">
                        <label asp-for="FilterIslCRis">Risorsa</label>
                        <div class="d-flex align-items-center">
                            <input asp-for="FilterIslCRis" class="form-control" style="width:50px" />
                            <button type="submit" class="btn btn-primary ms-3" style="width:150px">Reload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="accordion mb-5" id="accordionISL">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionSvil" aria-expanded="false" aria-controls="accordionSvil">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-primary">Attività in Sviluppo</h2>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="accordionSvil" class="accordion-collapse collapse" data-bs-parent="#accordionISL">
                    <div class="accordion-body">
                        <table class="table table-borderer table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="isl-th-color1 text-start">
                                        Codice ISL
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        Descrizione
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        Stato
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        Cambio stato
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        Scadenza Task
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        CdL
                                    </th>
                                    <th class="isl-th-color1 text-start">
                                        Commessa
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.IslList.Where(x => x.Flag=="2-SVIL"))
                                {
                                //var duration = new Duration(@obj.CrrgTmRunIncr);
                                var com = string.Concat(@obj.TbcpTstComm, "/", @obj.TbcpPrfComm, "/", @obj.TbcpAComm,
                                "/",
                                @obj.TbcpNComm);
                                <tr>
                                    <td>
                                        <div>@obj.RifCli</div>
                                    </td>
                                    <td class="custom-tooltip-color" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="@obj.TatvDesc">
                                        <div>
                                            @obj.TatvDesc.Substring(0, Math.Min(obj.TatvDesc.Length, 50)-1)...</div>
                                    </td>
                                    <td>
                                        <div>@obj.Stato</div>
                                    </td>
                                    <td>
                                        <div>@obj.CambioStato</div>
                                    </td>
                                    <td>
                                        <div>@obj.CurrDt</div>
                                    </td>
                                    <td>
                                        <div>@obj.CurrCdl</div>
                                    </td>
                                    <td>
                                        <div>@com</div>
                                    </td>
                                    <td class="isl-row-btns">
                                        <div class="w-100 btn-group d-flex justify-content-center" role="group">
                                            @*<a asp-controller="Crrg" asp-action="Edit" asp-route-id="@obj.CrrgCSrl"
                                                class="btn btn-primary mx-2"><i
                                                    class="bi bi-pencil-square"></i>Edit</a>*@
                                            <a asp-controller="Isl" asp-action="Index"
                                                asp-route-id="@Model.FilterIslCRis" onclick="alert('Consuntivo')"><i
                                                    class="bi bi-clock-fill"></i></a>
                                            <a class="openAccordion pointer-pointer" rowIsl="@obj.RifCli"><i
                                                    class="bi bi-list-check open-btn"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="p-0">
                                        <div id="accordion-@obj.RifCli" class="opens">

                                            <table class="table table-borderer table-striped mb-0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Ris.
                                                        </th>
                                                        <th>
                                                            Data
                                                        </th>
                                                        <th>
                                                            Effort
                                                        </th>
                                                        <th>
                                                            Codice ISL
                                                        </th>
                                                        <th>
                                                            Commessa
                                                        </th>
                                                        <th>
                                                            Description
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody-@obj.RifCli">

                                                </tbody>

                                            </table>



                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- accordion 2 -->

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionDeli" aria-expanded="false" aria-controls="accordionDeli">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-primary">Attività in Delivery</h2>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="accordionDeli" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-borderer table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="isl-th-color2 text-start">
                                        Codice ISL
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        Flag
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        Stato
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        Cambio stato
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        CdL
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        Date Current Task
                                    </th>
                                    <th class="isl-th-color2 text-start">
                                        Commessa
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.IslList.Where(x => x.Flag == "3-DELI"))
                                {
                                //var duration = new Duration(@obj.CrrgTmRunIncr);
                                var com = string.Concat(@obj.TbcpTstComm, "/", @obj.TbcpPrfComm, "/", @obj.TbcpAComm,
                                "/",
                                @obj.TbcpNComm);
                                <tr>
                                    <td>
                                        <div>@obj.RifCli</div>
                                    </td>
                                    <td class="custom-tooltip-color" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="@obj.TatvDesc">
                                        <div>
                                            @obj.TatvDesc.Substring(0, Math.Min(obj.TatvDesc.Length, 50)-1)...</div>
                                    </td>
                                    <td>
                                        <div>@obj.Stato</div>
                                    </td>
                                    <td>
                                        <div>@obj.CambioStato</div>
                                    </td>
                                    <td>
                                        <div>@obj.CurrDt</div>
                                    </td>
                                    <td>
                                        <div>@obj.CurrCdl</div>
                                    </td>
                                    <td>
                                        <div>@com</div>
                                    </td>
                                    <td class="isl-row-btns">
                                        <div class="w-100 btn-group d-flex justify-content-center" role="group">
                                            @*<a asp-controller="Crrg" asp-action="Edit" asp-route-id="@obj.CrrgCSrl"
                                                class="btn btn-primary mx-2"><i
                                                    class="bi bi-pencil-square"></i>Edit</a>*@
                                            <a asp-controller="Isl" asp-action="Index"
                                                asp-route-id="@Model.FilterIslCRis" onclick="alert('Consuntivo')"><i
                                                    class="bi bi-clock-fill"></i></a>
                                            <a class="openAccordion pointer-pointer" rowIsl="@obj.RifCli"><i
                                                    class="bi bi-list-check open-btn"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="p-0">
                                        <div id="accordion-@obj.RifCli" class="opens">

                                            <table class="table table-borderer table-striped mb-0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Ris.
                                                        </th>
                                                        <th>
                                                            Data
                                                        </th>
                                                        <th>
                                                            Effort
                                                        </th>
                                                        <th>
                                                            Codice ISL
                                                        </th>
                                                        <th>
                                                            Commessa
                                                        </th>
                                                        <th>
                                                            Description
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody-@obj.RifCli">

                                                </tbody>

                                            </table>



                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- AddModal -->
<div class="modal fade" id="addConsuntivo" tabindex="-1" aria-labelledby="addConsuntivoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="addConsuntivoModalLabel"><b>Aggiungi Consuntivo</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-app-form" method="post" asp-page-handler="create">
                    <div class="mb-3 d-flex">
                        <div class="form-group">
                            <label for="data">Data:</label>
                            <input name="crrgDtt" id="data" type="date" class="form-control" aria-describedby="Data">
                        </div>
                        <div class="form-group ms-3">
                            <label for="ora">Ora:</label>
                            <input name="crrgTmRunIncrHMS" id="ora" type="time" class="form-control"
                                aria-describedby="Data">
                        </div>
                        <div class="form-group ms-3">
                            <label for="crrgCCaus">Causale:</label>
                            <select name="crrgCCaus" id="crrgCCaus">
                                <option value="CORI">CORI</option>
                                <option value="ANFU">ANFU</option>
                                <option value="SVIL">SVIL</option>
                                <option value="DELI">DELI</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="form-group col-6">
                            <h5>Operazione</h5>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgTOper1">Test</label>
                                <input class="form-check-input" type="radio" value="0-TE01" name="crrgTOper"
                                    id="crrgTOper1">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgTOper2">Programmazione</label>
                                <input class="form-check-input" type="radio" value="20-PR01" name="crrgTOper"
                                    id="crrgTOper2">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgTOper3">Analisi</label>
                                <input class="form-check-input" type="radio" value="30-AN01" name="crrgTOper"
                                    id="crrgTOper3">
                            </div>
                        </div>
                        <div class="form-group col-6 radio2">
                            <h5>Macroattività</h5>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgCmaatt1">n.d.</label>
                                <input class="form-check-input" type="radio" value="0-TE01" name="crrgCmaatt"
                                    id="crrgCmaatt1">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgCmaatt2">Garanzia</label>
                                <input class="form-check-input" type="radio" value="20-PR01" name="crrgCmaatt"
                                    id="crrgCmaatt2">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgCmaatt3">Assistenza</label>
                                <input class="form-check-input" type="radio" value="30-AN01" name="crrgCmaatt"
                                    id="crrgCmaatt3">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="crrgCmaatt4">Verbale</label>
                                <input class="form-check-input" type="radio" value="30-AN01" name="crrgCmaatt"
                                    id="crrgCmaatt4">
                            </div>
                        </div>
                    </div>
                    <select name="crrgApp" id="crrgApp">
                        <option value=""></option>
                        <option value="APP_DEPSOL">APP_DEPSOL</option>
                        <option value="APP_MAKINGONE">APP_MAKINGONE</option>
                        <option value="APP_MEP">APP_MEP</option>
                        <option value="APP_NICIM">APP_NICIM</option>
                        <option value="APP_QLIKVIEW">APP_QLIKVIEW</option>
                        <option value="APP_QUARTA">APP_QUARTA</option>
                        <option value="APP_SAPB1">APP_SAPB1</option>
                        <option value="APP_SUPPORT">APP_SUPPORT</option>
                        <option value="APP_WEB_PORTAL">APP_WEB_PORTAL</option>
                        <option value="APP_WEB_SERVICES">APP_WEB_SERVICES</option>
                        <option value="APP_WEB_WM">APP_WEB_WM</option>
                    </select>
                    <select name="CrrgMod" id="CrrgMod"></select>
                    <div class="mb-3">
                        <label for="description">Descrizione</label>
                        <textarea name="crrgNote" id="description" type="text" class="form-control"
                            aria-describedby="description"></textarea>
                    </div>
                    <input type="hidden" name="crrgCSrl" id="crrgCSrl">
                    <input type="hidden" name="crrgNOper" id="crrgNOper">

                    <input type="hidden" name="crrgCdl" id="crrgCdl">
                    <input type="hidden" name="crrgCRis" id="crrgCRis">
                    <input type="hidden" name="crrgRifCliente" id="crrgRifCliente">
                    <input type="hidden" name="crrgTstDoc" id="crrgTstDoc">
                    <input type="hidden" name="crrgPrfDoc" id="crrgPrfDoc">
                    <input type="hidden" name="crrgADoc" id="crrgADoc">
                    <input type="hidden" name="crrgNDoc" id="crrgNDoc">

                    <div class="text-danger"></div>
                    <button type="submit" class="btn btn-success">Aggiungi</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulla</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map((tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
<script src="~/js/Filter.js?v=1.1"></script>
<script src="~/js/indexIsl.js"></script>
}