@using Mep01Web.DTO.Request;
@model IslGetRequest;
@inject IHttpContextAccessor _contextAccessor;


@{
    ViewData["Title"] = "Isl";
}

<div class="container main-mep-container scrolling-container">
    <h1>Gestione ISL in corso</h1>

    <div class="w-75 btn-group" role="group">
        <a onclick="NascondiFiltro()"><i class="bi bi-filter"></i></a>
    </div>

    <div id="divGetFilterForm" @(Model.FilterHidden == "Y" ? "style=&#39;display:none;&#39;" : "style=&#39;display:block;&#39;")>
        <form method="post" name="IslGetFilterForm">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">
                        Filtri
                    </h2>
                    <hr />
                </div>

                <div class="mb-3">
                    <table>
                        <tr>
                            <td>
                                <label asp-for="FilterIslCRis">Risorsa</label>
                                <input asp-for="FilterIslCRis" class="form-control" style="width:50px" />
                            </td>
                            @*                        <td>
                            <label asp-for="FilterIslDttStart">Data ini.</label>
                            <input asp-for="FilterIslDttStart" class="form-control" style="width:150px" type="date" />
                            <span asp-validation-for="FilterIslDttStart" class="text-danger"></span>
                            </td>
                            <td>
                            <label asp-for="FilterIslDttEnd">Data fine</label>
                            <input asp-for="FilterIslDttEnd" class="form-control" style="width:150px" type="date" />
                            <span asp-validation-for="FilterIslDttEnd" class="text-danger"></span>
                            </td>*@
                        </tr>
                    </table>

                </div>
                <br />
                <button type="submit" class="btn btn-primary" style="width:150px">Reload</button>

            </div>
        </form>
    </div>


    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attività in Sviluppo</h2>
        </div>
    </div>

    <table class="table table-borderer table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="isl-th-color1 text-start">
                    Codice ISL
                </th>
                <th class="isl-th-color1 text-start">
                    Flag
                </th>
                <th class="isl-th-color1 text-start">
                    Stato
                </th>
                <th class="isl-th-color1 text-start">
                    Cambio stato
                </th>
                <th class="isl-th-color1 text-start">
                    CdL
                </th>
                <th class="isl-th-color1 text-start">
                    Date Current Task
                </th>
                <th class="isl-th-color1 text-start">
                    Commessa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.IslList.Where(x => x.Flag=="2-SVIL"))
            {
                //var duration = new Duration(@obj.CrrgTmRunIncr);
                var com = string.Concat(@obj.TbcpTstComm, "/", @obj.TbcpPrfComm, "/", @obj.TbcpAComm, "/", @obj.TbcpNComm);
                <tr class="table-row">
                    <td>
                        <div>@obj.RifCli</div>
                    </td>
                    <td>
                        <div>@obj.Flag</div>
                    </td>
                    <td>
                        <div>@obj.Stato</div>
                    </td>
                    <td>
                        <div>@obj.CambioStato</div>
                    </td>
                    <td>
                        <div>@obj.CurrCdl</div>
                    </td>
                    <td>
                        <div>@obj.CurrDt</div>
                    </td>
                    <td>
                        <div>@com</div>
                    </td>
                    <td class="d-flex justify-content-center isl-row-btns">
                        <div class="w-75 btn-group d-flex justify-content-center" role="group">
                            @*<a asp-controller="Crrg" asp-action="Edit" asp-route-id="@obj.CrrgCSrl" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>*@
                            <a asp-controller="Isl" asp-action="Index" asp-route-id="@Model.FilterIslCRis" onclick="alert('Consuntivo')"><i class="bi bi-clock-fill"></i></a>
                            <a class="openAccordion pointer-pointer" rowIsl="@obj.RifCli"><i class="bi bi-list-check open-btn"></i></a>
                        </div>
                    </td>
                    <td>
                        <div id="container-@obj.RifCli" class="opens"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attività in Delivery</h2>
        </div>
    </div>

    <table class="table table-borderer table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="isl-th-color2 text-start">
                    Codice ISL
                </th>
                <th class="isl-th-color2 text-start">
                    Flag
                </th>
                <th class="isl-th-color2 text-start">
                    Stato
                </th>
                <th class="isl-th-color2 text-start">
                    Cambio stato
                </th>
                <th class="isl-th-color2 text-start">
                    CdL
                </th>
                <th class="isl-th-color2 text-start">
                    Date Current Task
                </th>
                <th class="isl-th-color2 text-start">
                    Commessa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.IslList.Where(x => x.Flag == "3-DELI"))
            {
                //var duration = new Duration(@obj.CrrgTmRunIncr);
                var com = string.Concat(@obj.TbcpTstComm, "/", @obj.TbcpPrfComm, "/", @obj.TbcpAComm, "/", @obj.TbcpNComm);
                <tr>
                    <td>
                        @obj.RifCli
                    </td>
                    <td>
                        @obj.Flag
                    </td>
                    <td>
                        @obj.Stato
                    </td>
                    <td>
                        @obj.CambioStato
                    </td>
                    <td>
                        @obj.CurrCdl
                    </td>
                    <td>
                        @obj.CurrDt
                    </td>
                    <td>
                        @com
                    </td>
                    <td class="d-flex justify-content-center">
                        <div class="w-75 btn-group d-flex justify-content-center" role="group">
                            <a asp-controller="Isl" asp-action="Index" asp-route-id="@Model.FilterIslCRis" onclick="alert('Consuntivo')"><i class="bi bi-clock-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/js/Filter.js?v=1.1"></script>
<script src="~/js/indexIsl.js"></script>
